    html, body {
      margin: 0;
      padding: 0;
      overflow: auto;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;      
      justify-content: flex-start;
      box-sizing: border-box;
      font-family: monospace, Consolas, 'Courier New', Fixedsys;
      font-size: 85%;
      background-color: #ffffff;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .content {
      white-space: pre-wrap;     
      text-align: left;           
      max-width: 600px;        
      padding: 0 16px 40px;     
      box-sizing: border-box;
    }
